.Card{
    border-radius: 16px;
    background-color: #ecfdf5;

    width: 18vw;
    height: 50vh;
    
    overflow-y: auto;
    overflow-x: hidden;

    padding-left: 3rem;
    padding-right: 3rem;

    justify-content: center;
    overflow-wrap: break-word;

    display: flex;
    flex-direction: column;
}

.Card__title{
    margin-top: 10px;
    
    color: #065f46;
}

.Card__description{
    font-size: medium;
    align-self: center;
    width: 18vw;
    
    color: #047857;
}

.Card__dates{
    color: #a7f3d0;
}



.Card__button__section{
    display: flex;
    column-gap: 2vw;
    
    margin-bottom: 0.5vh;
}

.Card__edit__button{
    border-radius: 8px;
    border-style: none;

    height: 6vh;
    width: 8vw;

    background-color: #059669;
    color: #f5f5f5;

    filter: drop-shadow(-4px 8px 8px #065f4679);
}

.Card__remove__button{
    border-radius: 8px;
    border-style: none;

    height: 6vh;
    width: 8vw;

    background-color: #dc2626;
    color: #f5f5f5;

    filter: drop-shadow(-4px 8px 8px #850d0d72);
}