.Home__feed__div{
    display: flex;
    margin: 32px 16px 8px 16px;

    flex-wrap: wrap;
    flex-direction: row;

    row-gap: 3rem;
    column-gap: 6rem;
    justify-content: center;
}

.Home__add__button{
    max-height: 4rem;
    aspect-ratio: 1;

    position: fixed;
    right: 3rem;
    bottom: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-style: none;
    border-radius: 50%;

    filter: drop-shadow(-1px 6px 8px #065f46)

}

.Update__prompt__container{
    background-color: #065f46bf;

    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;

    position: fixed;
    display: flex;
    
    justify-content: center;
    align-items: center;

}

.Update__prompt__input__section{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.Update__prompt__input{
    border-radius: 16px;
    border-style: none;

    padding: 1rem 2rem 1rem 2rem;
} 

.Update__prompt__buttons__section{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    row-gap: 3rem;
    
}

.Update__prompt__buttons__cancel{
    background-color: #404040;
    color: #f5f5f5;
    text-align: center;


    border-radius: 16px;
    border-style: none;

    height: 6vh;
    width: 20vw;

    margin-left: 2rem;
    margin-right: 5rem;

    filter: drop-shadow(-4px 8px 16px #171717);
}

.Update__prompt__buttons__save{
    background-color: #059669;
    color: #f5f5f5;

    border-radius: 16px;
    border-style: none;

    height: 6vh;
    width: 20vw;

    margin-left: 5rem;
    margin-right: 2rem;

    filter: drop-shadow(-4px 8px 16px #065f46);
}