.header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(209, 209, 209);
    color: rgb(0, 0, 0);
}

.header--dark {
    background-color: rgb(28, 28, 28);
    color: white;
}