.footer {
    width: 100vw;
    height: 200px;
    background-color: azure;

    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    justify-content: space-around;
}

.footer_copy {
    width: 50%;
}