body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

.content {
  background-color: red;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.content button {
  width: 200px;
  border-radius: 10px;
  padding: 0.5em 0.5em 0.5em;
  margin-bottom: 30px;
}

.content button:hover{
  transition: opacity 0.9s ease-out;
  cursor: pointer;
  background-color: rgb(215, 215, 215);
}